

.ProfileSkeleton_container {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}

.circleSkeleton {
    width: 200px;
}

.textSkeleton {
    width: 400px;
}

.rectSkeleton {
    width: 65vw;
}